@font-face {
    font-family: 'Hind Madurai';
    src: local('Hind Madurai'),
        url('/fonts/hind_madurai_font.otf') format('otf');
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Raleway';
    src: local('Raleway'),
        url('/fonts/Raleway.ttf') format('ttf');
    font-weight: 900;
    font-display: swap;
}

@font-face {
    font-family: 'Lora';
    src: local('Lora'),
        url('/fonts/lora_font.ttf') format('otf');
    font-style: italic;
    font-display: swap;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
}

.header {
    font-family: 'Hind Madurai', sans-serif;
    font-size: 24px;
    display: block;
    position: fixed;
    height: 70px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.55);
    z-index: 3;
}

.nav-list {
    display: flex;
    justify-content: center;
    list-style: none;
}

.nav-link {
    padding: 0 80px;
    text-decoration: none;
    color: rgb(125, 79, 80);
}

.first-block {
    height: 1024px;
    background-image: url("assets/bg1.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.heading {
    font-family: 'Raleway', sans-serif;
    font-size: 62px;
    color: white;
    padding-top: 20%;
}

.pink-color {
    color: rgb(236, 145, 146);
}

.telegram {
    background-image: url("/assets/icon_tg.png");
}

.instagram {
    background-image: url("/assets/icon_inst.png");
}