@font-face {
    font-family: 'Hind Madurai';
    src: url('./fonts/hind_madurai_font.woff') format('woff');
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Raleway';
    src: url('./fonts/raleway_font.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: 'Lora';
    src: url('./fonts/lora_font.woff') format('woff');
    font-display: swap;
}

/**
  Нормализация блочной модели
 */
 *,
 ::before,
 ::after {
   box-sizing: border-box;
 }
 
 /**
   Убираем внутренние отступы слева тегам списков,
   у которых есть атрибут class
  */
 :where(ul, ol):where([class]) {
   padding-left: 0;
 }
 
 /**
   Убираем внешние отступы body и двум другим тегам,
   у которых есть атрибут class
  */
 body,
 :where(blockquote, figure):where([class]) {
   margin: 0;
 }
 
 /**
   Убираем внешние отступы вертикали нужным тегам,
   у которых есть атрибут class
  */
 :where(
   h1,
   h2,
   h3,
   h4,
   h5,
   h6,
   p,
   ul,
   ol,
   dl
 ):where([class]) {
   margin-block: 0;
 }
 
 :where(dd[class]) {
   margin-left: 0;
 }
 
 :where(fieldset[class]) {
   margin-left: 0;
   padding: 0;
   border: none;
 }
 
 /**
   Убираем стандартный маркер маркированному списку,
   у которого есть атрибут class
  */
 :where(ul[class]) {
   list-style: none;
 }
 
 :where(address[class]) {
   font-style: normal;
 }
 
 /**
   Обнуляем вертикальные внешние отступы параграфа,
   объявляем локальную переменную для внешнего отступа вниз,
   чтобы избежать взаимодействие с более сложным селектором
  */
 p {
   --paragraphMarginBottom: 24px;
 
   margin-block: 0;
 }
 
 /**
   Внешний отступ вниз для параграфа без атрибута class,
   который расположен не последним среди своих соседних элементов
  */
 p:where(:not([class]):not(:last-child)) {
   margin-bottom: var(--paragraphMarginBottom);
 }
 
 
 /**
   Упрощаем работу с изображениями и видео
  */
 img,
 video {
   display: block;
   max-width: 100%;
   height: auto;
 }
 
 /**
   Наследуем свойства шрифт для полей ввода
  */
 input,
 textarea,
 select,
 button {
   font: inherit;
 }
 
 html {
   /**
     Пригодится в большинстве ситуаций
     (когда, например, нужно будет "прижать" футер к низу сайта)
    */
   height: 100%;
   /**
     Убираем скачок интерфейса по горизонтали
     при появлении / исчезновении скроллбара
    */
   scrollbar-gutter: stable;
 }
 
 /**
   Плавный скролл
  */
 html,
 :has(:target) {
   scroll-behavior: smooth;
 }
 
 body {
   /**
     Пригодится в большинстве ситуаций
     (когда, например, нужно будет "прижать" футер к низу сайта)
    */
   min-height: 100%;
   /**
     Унифицированный интерлиньяж
    */
   line-height: 1.5;
 }
 
 /**
   Нормализация высоты элемента ссылки при его инспектировании в DevTools
  */
 a:where([class]) {
   display: inline-flex;
 }
 
 /**
   Курсор-рука при наведении на элемент
  */
 button,
 label {
   cursor: pointer;
 }
 
 /**
   Приводим к единому цвету svg-элементы
  */
 [fill] { fill: currentColor }
 [stroke] { stroke: currentColor }
 
 /**
   Чиним баг задержки смены цвета при взаимодействии с svg-элементами
  */
 svg * {
   transition-property: fill, stroke;
 }
 
 /**
   Удаляем все анимации и переходы для людей,
   которые предпочитают их не использовать
  */
 @media (prefers-reduced-motion: reduce) {
   *,
   ::before,
   ::after {
     animation-duration: 0.01ms !important;
     animation-iteration-count: 1 !important;
     transition-duration: 0.01ms !important;
     scroll-behavior: auto !important;
   }
 }

:root {
    --color-brown: #7D4F50;
    --color-light: #FFFFFF;
    --color-pink: #EC9192;
    --color-light-transparent: rgba(255, 255, 255, 0.55);
    --color-pink-transparent: rgba(236, 145, 146, 0.6);

    --border-radius: 12px;

    --font-family-base: 'Hind Madurai', sans-serif;
    --font-family-accent: 'Lora', sans-serif;
    --font-family-heading: 'Raleway', sans-serif;

    --input-height: 50px;
    --container-width: 1300px;
    --container-padding-x: 15px;

    --transition-duration: 0.2s;

    --header-height: 70px;
}

body {
    font-family: var(--font-family-base);
    color: var(--color-brown);
    font-size: 24px;
    background-color: var(--color-light);
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

a {
    color: var(--color-brown);
}

p {
  margin-block: 0;
}

p:not([class]):not(:last-child) {
  margin-bottom: 24px;
}

.container {
    max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
    margin-inline: auto;
    padding-inline: var(--container-padding-x);
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-family-heading);
    text-transform: uppercase;
}

.title-base {
  font-family: var(--font-family-heading);
  font-size: 62px;
}

.title-medium {
  font-family: var(--font-family-accent);
  text-transform: none;
  font-weight: normal;
  font-size: 48px;
  color: var(--color-pink);
}

button {
    display: inline-flex;
    align-items: center;
    height: var(--input-height);
    padding-inline: 42px;
    font-size: 24px;
    color:var(--color-light);
    background-color: var(--color-pink-transparent);
    border: none;
    border-radius: var(--border-radius);
    white-space: nowrap;
}

button:hover {
    background-color: var(--color-pink);
}

.header {
    display: flex;
    justify-content: center;
    column-gap: 20px;
    background-color: var(--color-light-transparent);
    position: fixed;
    width: 100%;
    min-height: var(--header-height);
    z-index: 3;
}

.header, .banner, .aboutme {
  padding-inline: 15px;
}

.header-menu-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 80px;
}

.header-menu-link {
    display: inline-flex;
    align-items: center;
    height: var(--header-height);
    text-decoration: none;
    position: relative;
    white-space: nowrap;
}

.header-menu-link::after {
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    height: 5px;
    width: 0;
    background: var(--color-pink);
    transition: var(--transition-duration);
}

.header-menu-link:hover:after {
    width: 100%;
}

.banner {
    min-height: 100vh;
    background-image: url("assets/images/bg1.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.banner-body {
    text-transform: uppercase;
    padding-top: 40vh;
}

.banner-title {
    font-size: 96px;
    color: var(--color-light);
    height: 110px;
}

.banner-info {
    font-family: var(--font-family-accent);
    color: var(--color-light-transparent);
    font-size: 40px;
}

.aboutme {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: clamp(30px, 6.25vw, 120px);
}

img {
  border-radius: var(--border-radius);
}

.photo-backdrop-rect, .photo-backdrop-item, .aboutme-title-backdrop-item,
.artwork-title-color-backdrop, .artwork-description-color-backdrop,
.artwork-title-cards-backdrop, .artwork-description-cards-backdrop,
.artwork-title-seasons-backdrop, .artwork-description-seasons-backdrop,
.artwork-title-pet-backdrop, .artwork-description-pet-backdrop {
  position: relative;
  z-index: 1;
}

.photo-backdrop-rect::after {
  content: '';
  display: block;
  position: absolute;
  width: 488px;
  height: 570px;
  top: -0.6em;
  left: -0.7em;
  aspect-ratio: 1;
  z-index: -1;
  background: url('./assets/items/rectangle.svg') center/contain no-repeat;
}

.photo-backdrop-item::before {
  content: '';
  display: block;
  position: absolute;
  width: 214px;
  top: 16.4em;
  left: 15.4em;
  aspect-ratio: 1;
  background: url('./assets/items/aboutme_item_3.png') center/contain no-repeat;
}
.photo-backdrop-item::after {
  content: '';
  display: block;
  position: absolute;
  width: 151px;
  top: -0.4em;
  left: -4.8em;
  aspect-ratio: 1;
  background: url('./assets/items/aboutme_item_2.png') center/contain no-repeat;
}

.aboutme-title-backdrop-item::before {
  content: '';
  display: block;
  position: absolute;
  width: 453px;
  top: -4em;
  left: 0.1em;
  aspect-ratio: 1;
  background: url('./assets/items/aboutme_item_1.png') center/contain no-repeat;
}

.aboutme-title:not(:last-child) {
  margin-bottom: 30px;
}

.aboutme-description:not(:last-child) {
  margin-bottom: 130px;
}

.aboutme-description {
  max-width: 430px;
}

.services {
  min-height: 80vh;
  text-align: center;
  background-image: url("assets/images/bg2.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  justify-content: center;
  align-items: center;
  display: flex;
  color: var(--color-light);
}

.services-list {
  text-decoration: none;
  display: flex;
  column-gap: clamp(30px, 15.63vw, 300px);
  text-align: left;
  margin-bottom: 85px;
}

.services-title {
  margin-bottom: 35px;
}

.services-mini-title {
  font-size: 40px;
  max-width: 406px;
  line-height: 1.2;
}

.title-illustration {
  margin-bottom: 40px;
}

.title-webdesign {
  margin-bottom: 62px;
}

.artwork-item:nth-child(odd) .artwork-card {
  flex-direction: row-reverse;
}

.artwork-item {
  margin: 120px 0;
}

.artwork-card {
  display: flex;
  justify-content: center;
  column-gap: clamp(50px, 6.25vw, 120px);
}

.artwork-card-body {
  flex-direction: column;
  position: relative;
}

.artwork-card-title {
  font-size: 48px;
  color: var(--color-pink);
  margin-bottom: 30px;
  line-height: 1.1;
}

.artwork-card-description {
  max-width: 400px;
}

.artwork-card-materials {
  font-family: var(--font-family-accent);
  font-size: 32px;
  color: var(--color-pink);
  position: absolute;
  bottom: 0;
}

.artwork-title-color-backdrop::after {
  content: '';
  display: block;
  position: absolute;
  aspect-ratio: 1;
  width: 443px;
  height: 184px;
  top: -1.4em;
  left: -1.6em;
  background: url('./assets/images/artwork/backdrop/1.png') center/contain no-repeat;
}

.artwork-description-color-backdrop::after {
  content: '';
  display: block;
  position: absolute;
  aspect-ratio: 1;
  width: 32px;
  height: 144px;
  top: -0.2em;
  left: -1.4em;
  background: url('./assets/images/artwork/backdrop/2.png') center/contain no-repeat;
}

.artwork-description-color-backdrop::before {
  content: '';
  display: block;
  position: absolute;
  aspect-ratio: 1;
  width: 220px;
  height: 192px;
  top: 1em;
  left: 11em;
  background: url('./assets/images/artwork/backdrop/3.png') center/contain no-repeat;
}

.artwork-title-cards-backdrop::after {
  content: '';
  display: block;
  position: absolute;
  aspect-ratio: 1;
  width: 269px;
  height: 106px;
  top: 0.7em;
  left: -1.3em;
  background: url('./assets/images/artwork/backdrop/4.png') center/contain no-repeat;
}

.artwork-title-cards-backdrop::before {
  content: '';
  display: block;
  position: absolute;
  aspect-ratio: 1;
  width: 88px;
  height: 112px;
  top: -1em;
  left: 6.2em;
  background: url('./assets/images/artwork/backdrop/5.png') center/contain no-repeat;
}

.artwork-description-cards-backdrop::after {
  content: '';
  display: block;
  position: absolute;
  aspect-ratio: 1;
  width: 28px;
  height: 312px;
  top: -0.2em;
  left: -1.2em;
  background: url('./assets/images/artwork/backdrop/6.png') center/contain no-repeat;
}

.artwork-title-seasons-backdrop::after {
  content: '';
  display: block;
  position: absolute;
  aspect-ratio: 1;
  width: 386px;
  height: 140px;
  top: -1.1em;
  left: 1em;
  background: url('./assets/images/artwork/backdrop/7.png') center/contain no-repeat;
}

.artwork-description-seasons-backdrop::after {
  content: '';
  display: block;
  position: absolute;
  aspect-ratio: 1;
  width: 24px;
  height: 255px;
  top: -1em;
  left: -1em;
  background: url('./assets/images/artwork/backdrop/8.png') center/contain no-repeat;
}

.artwork-title-pet-backdrop::after {
  content: '';
  display: block;
  position: absolute;
  aspect-ratio: 1;
  width: 272px;
  height: 118px;
  top: -0.8em;
  left: 1.3em;
  background: url('./assets/images/artwork/backdrop/9.png') center/contain no-repeat;
}

.artwork-description-pet-backdrop::after {
  content: '';
  display: block;
  position: absolute;
  aspect-ratio: 1;
  width: 23px;
  height: 213px;
  top: -1em;
  left: -1em;
  background: url('./assets/images/artwork/backdrop/10.png') center/contain no-repeat;
}

/* .slide-color, .slide-cards {
  width: 488px;
  height: 528px;
}

.color-slide1 {
  background: url('./assets/images/artwork/color/1.jpg');
}

.color-slide2 {
  background: url('./assets/images/artwork/color/2.jpg');
}

.color-slide3 {
  background: url('./assets/images/artwork/color/3.jpg');
}

.color-slide4 {
  background: url('./assets/images/artwork/color/4.jpg');
}

.cards-slide1 {
  background: url('./assets/images/artwork/cards/1.jpg');
}

.cards-slide2 {
  background: url('./assets/images/artwork/cards/2.jpg');
}

.cards-slide3 {
  background: url('./assets/images/artwork/cards/3.jpg');
}

.cards-slide4 {
  background: url('./assets/images/artwork/cards/4.jpg');
}

.cards-slide5 {
  background: url('./assets/images/artwork/cards/5.jpg');
}

.arrow {
  cursor: pointer;
  position: absolute;
}

#arrow-left {
  width: 36px;
  height: 36px;
  border-top: 5px solid var(--color-pink-transparent);
  border-right: 5px solid var(--color-pink-transparent);
  transform: rotate(45deg);
}

#arrow-right {
  width: 36px;
  height: 36px;
  border-bottom: 5px solid var(--color-pink-transparent);
  border-left: 5px solid var(--color-pink-transparent);
  transform: rotate(45deg);
} */

.telegram {
    background-image: url("/assets/icon_tg.png");
}

.instagram {
    background-image: url("/assets/icon_inst.png");
}

@media (max-width: 767px) {
  .aboutme {
    flex-direction: column-reverse;
  }
}
